In [1]:
!pip install keras

Requirement already satisfied: keras in c:\users\prince\anaconda3\lib\site-packages (2.15.0)

In [2]:
import keras

WARNING:tensorflow:From C:\Users\Prince\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [3]:
print(keras.__version__)

2.15.0

### Agenda:
- Data read and feature transformations
- Keras Model
- Keras Training loop

In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

### Part 1 : Import the housing dataset and do feature transformations

In [8]:
df = pd.read_csv('house_price_full+(2).csv')
df.head()

   bedrooms  sqft_living    price
0         3         1340   313000
1         5         3650  2384000
2         3         1930   342000
3         3         2000   420000
4         4         1940   550000

In [9]:
X = df.copy()
## removing the price variable
y = X.pop('price')

## performing a scaler transformation of the input data
scaler = StandardScaler()
X = scaler.fit_transform(X)

## Perform log transformation of the target variable
y = np.log(y)

In [10]:
df_scaled =pd.DataFrame(X)
df_scaled

            0         1
0   -0.433198 -0.753258
1    1.675735  1.457330
2   -0.433198 -0.188649
3   -0.433198 -0.121661
4    0.621269 -0.179079
..        ...       ...
494  0.621269  0.873582
495  1.675735  2.299459
496 -0.433198 -0.724549
497 -0.433198 -0.179079
498 -0.433198 -1.040347

[499 rows x 2 columns]

In [11]:
y.head(2)

0    12.653958
1    14.684290
Name: price, dtype: float64

### Part 2: Creating Model using Keras

In [12]:
from tensorflow import keras

In [17]:
model = keras.Sequential(
    [
        keras.layers.Dense(
        2,activation='sigmoid',input_shape=(X.shape[-1],)),
        keras.layers.Dense(1,activation='linear')
    ]
)

WARNING:tensorflow:From C:\Users\Prince\anaconda3\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 2)                 6

 dense_1 (Dense)             (None, 1)                 3

=================================================================
Total params: 9 (36.00 Byte)
Trainable params: 9 (36.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Part 3 : Training loop

In [19]:
model.compile(
    optimizer = keras.optimizers.SGD(),loss="mean_squared_error")  ## SGD-Gradient descent

In [20]:
model.fit(X,y.values,epochs=10,batch_size=32)

Epoch 1/10
WARNING:tensorflow:From C:\Users\Prince\anaconda3\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

16/16 [==============================] - 1s 5ms/step - loss: 99.0910
Epoch 2/10
16/16 [==============================] - 0s 5ms/step - loss: 24.1633
Epoch 3/10
16/16 [==============================] - 0s 6ms/step - loss: 4.5883
Epoch 4/10
16/16 [==============================] - 0s 4ms/step - loss: 1.1950
Epoch 5/10
16/16 [==============================] - 0s 4ms/step - loss: 0.6164
Epoch 6/10
16/16 [==============================] - 0s 4ms/step - loss: 0.4820
Epoch 7/10
16/16 [==============================] - 0s 4ms/step - loss: 0.4278
Epoch 8/10
16/16 [==============================] - 0s 5ms/step - loss: 0.3917
Epoch 9/10
16/16 [==============================] - 0s 7ms/step - loss: 0.3614
Epoch 10/10
16/16 [==============================] - 0s 11ms/step - loss: 0.3358

In [23]:
model.predict(X)[:,0]

16/16 [==============================] - 0s 2ms/step

array([13.084789 , 13.524251 , 12.994369 , 12.981642 , 13.383089 ,
       12.618854 , 12.500131 , 13.313281 , 12.893515 , 13.407185 ,
       13.031534 , 13.28755  , 12.915568 , 13.114628 , 13.568992 ,
       13.102083 , 13.053013 , 13.261496 , 13.080886 , 13.104432 ,
       12.934599 , 13.410373 , 13.025091 , 13.310965 , 13.403264 ,
       12.964625 , 12.909052 , 13.363512 , 13.572853 , 12.853802 ,
       13.405262 , 13.295222 , 13.390882 , 13.300193 , 13.175576 ,
       12.678694 , 12.636859 , 13.008375 , 12.988969 , 12.9024515,
       13.051533 , 13.409035 , 12.625681 , 13.021818 , 12.537817 ,
       13.10675  , 12.98715  , 12.994369 , 13.093625 , 13.231065 ,
       13.313281 , 12.774062 , 12.826595 , 13.016842 , 13.591497 ,
       13.38444  , 13.364336 , 13.523471 , 13.087353 , 12.41889  ,
       13.231065 , 12.834133 , 13.310965 , 12.868139 , 13.28755  ,
       12.614254 , 13.040941 , 13.123192 , 12.049888 , 12.942812 ,
       13.332914 , 12.790239 , 13.356707 , 12.999688 , 13.086075 ,
       12.521906 , 13.365967 , 13.310965 , 13.369942 , 12.879819 ,
       13.379616 , 13.1642   , 12.104301 , 13.016842 , 13.351352 ,
       12.262028 , 12.555921 , 13.065957 , 12.483378 , 12.540434 ,
       13.555471 , 12.950874 , 13.718383 , 12.911234 , 13.054483 ,
       13.576029 , 13.036276 , 13.560312 , 13.075569 , 13.492792 ,
       13.251203 , 12.979788 , 13.086075 , 13.348591 , 13.597224 ,
       13.288846 , 13.373775 , 13.019945 , 12.627936 , 13.418632 ,
       13.41293  , 13.354056 , 13.118968 , 13.58265  , 13.378189 ,
       13.598629 , 12.9366665, 12.634643 , 13.554913 , 13.03784  ,
       13.3810215, 13.070126 , 11.637854 , 13.00319  , 13.00319  ,
       13.075569 , 13.409035 , 12.555921 , 12.99615  , 13.288846 ,
       12.678694 , 13.055946 , 13.594441 , 12.223129 , 12.375382 ,
       13.354946 , 13.016842 , 13.378189 , 13.018509 , 13.341932 ,
       12.992578 , 12.550798 , 13.216324 , 12.999432 , 13.052865 ,
       13.045531 , 13.075838 , 12.737783 , 13.439005 , 12.43097  ,
       13.340956 , 13.41081  , 12.566044 , 13.083496 , 13.367574 ,
       13.064551 , 12.981642 , 12.583374 , 12.654228 , 13.594913 ,
       13.051533 , 13.37072  , 13.416467 , 13.04401  , 13.221311 ,
       13.386428 , 13.407185 , 12.614254 , 13.118968 , 13.094856 ,
       13.711594 , 13.355829 , 13.301418 , 13.040941 , 13.04248  ,
       13.008375 , 13.378905 , 13.075569 , 13.408119 , 12.886711 ,
       13.123192 , 12.532554 , 13.352169 , 13.590862 , 13.340956 ,
       13.262934 , 13.374524 , 13.008375 , 13.389635 , 13.154476 ,
       13.07422  , 13.061716 , 12.956823 , 13.200912 , 13.04401  ,
       13.018509 , 13.378905 , 13.358444 , 13.272796 , 13.088623 ,
       13.126064 , 13.150526 , 13.562855 , 13.568992 , 12.757527 ,
       12.409727 , 13.248192 , 13.316706 , 13.098504 , 13.309795 ,
       13.219657 , 13.112413 , 13.597622 , 12.999688 , 12.607278 ,
       13.034704 , 13.07422  , 13.436441 , 12.985323 , 12.548222 ,
       12.942812 , 13.143514 , 13.065957 , 13.569876 , 12.831631 ,
       13.186823 , 13.093625 , 13.439005 , 13.27141  , 13.105595 ,
       13.594279 , 13.125261 , 13.342902 , 12.988942 , 13.09608  ,
       13.057402 , 13.048549 , 13.112413 , 13.010086 , 12.872841 ,
       12.834133 , 13.902164 , 13.344824 , 13.396808 , 12.968472 ,
       13.0234585, 13.036276 , 12.442893 , 12.373505 , 13.390261 ,
       13.07691  , 13.004927 , 13.75015  , 12.580929 , 12.824062 ,
       13.123192 , 13.051533 , 13.325537 , 12.99615  , 12.911234 ,
       11.712553 , 13.334964 , 12.678694 , 12.886711 , 12.588235 ,
       12.632418 , 13.58647  , 13.021818 , 12.500131 , 12.988969 ,
       13.231864 , 12.100461 , 13.480681 , 13.354056 , 13.400659 ,
       13.320067 , 13.386428 , 12.944841 , 12.976052 , 12.928341 ,
       13.047045 , 12.645622 , 12.415845 , 13.04401  , 13.70985  ,
       12.760307 , 12.992578 , 13.075569 , 13.120035 , 12.632418 ,
       12.611938 , 13.806244 , 13.365154 , 13.048549 , 13.063138 ,
       13.084789 , 13.006656 , 12.868139 , 12.580929 , 13.079569 ,
       13.04248  , 13.564815 , 13.368369 , 13.0234585, 13.039395 ,
       13.011788 , 13.362682 , 13.408579 , 13.094856 , 13.465454 ,
       13.121861 , 12.553365 , 13.3194   , 13.5867405, 13.047647 ,
       12.632418 , 12.445849 , 12.964625 , 13.556577 , 13.396237 ,
       13.03784  , 13.330839 , 13.562855 , 13.09608  , 13.377467 ,
       13.3189535, 12.595451 , 12.988969 , 12.654228 , 12.497364 ,
       12.343155 , 13.369158 , 13.391497 , 12.230278 , 13.034704 ,
       12.992578 , 13.353161 , 13.374524 , 13.214644 , 13.359303 ,
       13.078243 , 12.576008 , 13.064551 , 13.337989 , 13.585917 ,
       12.934599 , 12.99615  , 13.001444 , 13.359303 , 12.521906 ,
       12.600212 , 13.234251 , 13.378905 , 12.58581  , 13.389635 ,
       12.985323 , 13.710842 , 12.532554 , 13.356707 , 12.893515 ,
       12.771332 , 13.356707 , 13.061716 , 13.1293125, 13.103261 ,
       13.088623 , 13.573669 , 13.025091 , 13.087353 , 13.339973 ,
       13.097296 , 13.094856 , 13.71897  , 13.138457 , 13.057402 ,
       12.442893 , 13.068744 , 13.078243 , 12.844046 , 13.050045 ,
       13.385108 , 12.978857 , 13.075569 , 12.563528 , 12.623415 ,
       12.919864 , 12.58581  , 12.595451 , 13.047144 , 13.04248  ,
       13.140491 , 13.303846 , 13.395082 , 13.411243 , 13.008375 ,
       12.600212 , 12.882126 , 13.152506 , 13.325537 , 13.078243 ,
       13.358444 , 13.3389845, 12.634643 , 13.400659 , 12.7491255,
       12.654228 , 13.078243 , 13.070812 , 12.352922 , 12.962688 ,
       13.117894 , 13.063138 , 13.3810215, 13.075569 , 13.158392 ,
       13.364336 , 12.99615  , 13.10675  , 12.52459  , 13.378905 ,
       13.366532 , 13.536752 , 13.297722 , 12.553365 , 13.262934 ,
       13.07422  , 13.342902 , 13.383768 , 13.039395 , 13.07691  ,
       13.3189535, 13.378905 , 13.369158 , 13.083237 , 13.025091 ,
       13.589034 , 12.480551 , 13.383089 , 13.075569 , 13.082195 ,
       13.099705 , 13.298961 , 13.146538 , 13.35226  , 12.576001 ,
       13.409485 , 13.268616 , 13.121095 , 13.383768 , 13.020168 ,
       12.981642 , 13.034704 , 13.332039 , 13.089885 , 13.345776 ,
       12.553365 , 13.354056 , 13.310965 , 13.297722 , 12.58581  ,
       13.084789 , 13.192057 , 12.761    , 13.124436 , 13.56185  ,
       12.956823 , 13.333942 , 13.383089 , 13.083496 , 13.366774 ,
       13.080886 , 12.690302 , 13.298961 , 12.979788 , 13.232662 ,
       12.532554 , 13.029936 , 11.821608 , 13.054483 , 12.863399 ,
       12.922715 , 12.535191 , 13.524251 , 12.948873 , 13.331881 ,
       12.611938 , 13.2796135, 13.369942 , 13.206125 , 13.584776 ,
       12.942812 , 13.396237 , 12.771332 , 13.125261 , 13.27141  ,
       13.433851 , 13.080886 , 12.992578 , 13.120035 ], dtype=float32)